<h3>Welcome!</h3>

<p>You have sent a new password request for user <b>{{ userName }}</b></p>
<p> Your new password is: {{ newPassword }} </p>
<p> Please ignore this mail if it has failed. </p>

---------------------- <br />
Sincerely, <br />
Artemis